.hidden {
    display: none;
}

body {
    background: #e6e7e8;
}

.App {
    text-align: center;
}

.App-logo {
    display: none;
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #e2396a;
    height: auto;
    padding: 20px;
    color: #e6e7e8;
    border-bottom: 3px solid #db1d46;
    position: relative;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #e6e7e8aa;
    cursor: pointer;
}

.profile-image {
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    right: calc(100% + 5px);
    max-width: 35px;
}

@media screen and (max-width:601px) {
    .logout {
        display: block;
        position: relative;
        right: unset;
        top: unset;
        margin-top: 20px;
    }
    .profile-image {
        right: calc(50% + 40px);
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

main {
    padding: 30px 0;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}


/*
*******************
    SEARCH BAR
*******************
*/

.search-bar {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50px;
}

.form-group label {
    margin: 0 5px;
    width: 50px;
}

.form-group label img {
    display: block;
    max-width: 100%;
}

.form-group input {
    flex: 1 1 0;
    padding: 0 10px;
    border: 1px solid #e2396a;
    outline: 1px solid #db1d46;
}

.form-group .location {
    position: absolute;
    top: 50%;
    right: 130px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    height: auto;
    padding: 19px 0;
    font-size: 12px;
}

.form-group .location i {
    font-size: 16px;
    color: #db1d46;
}

.form-group .location div {
    margin-right: 3px;
    margin-top: 2px;
}

.form-group .search-btn,
.btn-group .going-btn {
    width: 100px;
    background: #e2396a;
    color: #e6e7e8;
    border: 1px solid #e6e7e8;
    outline: 1px solid #db1d46;
    margin-left: 7.5px;
    height: 50px;
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms linear;
}

.form-group .search-btn {
    margin-right: 10px;
}

.btn-group .going-btn.checked {
    background: #e6e7e8;
    color: #e2396a;
}

.btn-group {
    position: relative;
}

.counter {
    position: absolute;
    margin-top: 5px;
    left: calc(50% + 3.75px);
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #bcbcbc;
    color: white;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin-bottom: 40px;
}

.establishment-card {
    width: 100%;
    height: auto;
    padding: 30px 10px 0 15px;
    background: white;
    margin-top: 20px;
    border: 2px solid #db1d46;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 129px;
}

.establishment-card>a>img {
    height: 75px;
}

.establishment-card__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding-left: 20px;
}

.establishment-card__info>div:first-child a {
    margin-left: 2px;
}

.establishment-card__info--address-block {
    text-align: left;
    margin-left: 6px;
}

.establishment-card__info--address-block a {
    text-decoration: none;
    color: #202020;
    transition: all 250ms linear;
}

.establishment-card__info--address-block a:hover {
    text-decoration: underline;
}

.establishment-card__info--address-block>a>span {
    margin-left: 8px;
}

.establishment-card__info--address-block>a>div {
    margin-left: 20px;
}

.establishment-card__going:empty {
    border-top: none;
    padding-top: 0;
    max-height: 0;
}

.establishment-card__going {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: 25px;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    max-height: 65px;
    transition: max-height 300ms linear;
    overflow: hidden;
}

.establishment-card__going img {
    animation-delay: 500ms;
    animation: fade-in 500ms linear;
    border-radius: 50%;
    padding: 10px 0 5px 0;
    width: 30px;
}

.establishment-card__going div+div {
    padding-right: 5px;
}

@keyframes fade-in {
    from { 
        opacity: 0;
        transform: translateX(100%);
    }
    to { 
        opacity: 1;
        transform: translateX(0%);
    }
}

.nophoto {
    width: 75px;
    height: 75px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #202020;
    background: #cecece;
    color: #202020;
    text-decoration: none;
}

.yelp-burst {
    width: 25px;
    height: 25px;
}

.yelp-rating {
    margin-left: 10px;
    height: 15px;
}

@media screen and (max-width: 400px) {

    main {
        padding-bottom: 70px;
    }
    .form-group {
        flex-wrap: wrap;
    }

    .form-group input{
        margin-right: 10px;
    }

    .form-group .location {
        right: 20px;
    }

    .form-group .search-btn {
        width: 100%;
        margin: 10px 10px 30px 10px;
    }

    .establishment-card {
        font-size: 14px;
        padding-top: 10px;
        margin-top: 10px;
    }

    .establishment-card>a>img {
        display: none;
    }

    .establishment-card__info {
        padding-left: 0;
    }

    .establishment-card__info--yelp {
        text-align: left;
        line-height: 1.25;
    }

    .yelp-rating {
        height: 12px;
        padding-left: 16px;
        display: block;
    }
}