.hidden {
    display: none;
}

body {
    background: #e6e7e8;
}

.App {
    text-align: center;
}

.App-logo {
    display: none;
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #e2396a;
    height: auto;
    padding: 20px;
    color: #e6e7e8;
    border-bottom: 3px solid #db1d46;
    position: relative;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #e6e7e8aa;
    cursor: pointer;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

main {
    padding: 30px 0;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}


/*
*******************
    SEARCH BAR
*******************
*/

.search-bar {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50px;
}

.form-group label {
    margin: 0 5px;
    width: 50px;
}

.form-group label img {
    display: block;
    max-width: 100%;
}

.form-group input {
    flex: 1 1 0;
    padding: 0 10px;
    border: 1px solid #e2396a;
    outline: 1px solid #db1d46;
}

.form-group .location {
    position: absolute;
    top: 50%;
    right: 120px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    height: auto;
    padding: 19px 0;
    font-size: 12px;
}

.form-group .location i {
    font-size: 16px;
    color: #db1d46;
}

.form-group .location div {
    margin-right: 3px;
    margin-top: 2px;
}

.form-group .search-btn,
.btn-group .going-btn {
    width: 100px;
    background: #e2396a;
    color: #e6e7e8;
    border: 1px solid #e6e7e8;
    outline: 1px solid #db1d46;
    margin-left: 7.5px;
    height: 50px;
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms linear;
}

.btn-group .going-btn.checked {
    background: #e6e7e8;
    color: #e2396a;
}

.btn-group {
    position: relative;
}

.counter {
    position: absolute;
    margin-top: 5px;
    left: calc(50% + 3.75px);
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #bcbcbc;
    color: white;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin-bottom: 40px;
}

.establishment-card {
    width: 100%;
    height: auto;
    padding: 30px 10px;
    background: white;
    margin-top: 20px;
    border: 2px solid #db1d46;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.establishment-card>a>img {
    height: 75px;
}

.establishment-card__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding-left: 20px;
}

.establishment-card__info>div:first-child a {
    margin-left: 2px;
}

.establishment-card__info--address-block {
    text-align: left;
    margin-left: 6px;
}

.establishment-card__info--address-block a {
    text-decoration: none;
    color: #202020;
    transition: all 250ms linear;
}

.establishment-card__info--address-block a:hover {
    text-decoration: underline;
}

.establishment-card__info--address-block>a>span {
    margin-left: 8px;
}

.establishment-card__info--address-block>a>div {
    margin-left: 20px;
}

.nophoto {
    width: 75px;
    height: 75px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #202020;
    background: #cecece;
    color: #202020;
    text-decoration: none;
}

.yelp-burst {
    width: 25px;
    height: 25px;
}

.yelp-rating {
    margin-left: 10px;
    height: 15px;
}

.profile-image {
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    right: calc(100% + 5px);
    max-width: 35px;
}