.hidden {
    display: none;
}

body {
    background: #e6e7e8;
}
.App {
    text-align: center;
}

.App-logo {
    display: none;
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #e2396a;
    height: auto;
    padding: 20px;
    color: #e6e7e8;
    border-bottom: 3px solid #db1d46;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

main {
    padding: 30px 0;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

/*
*******************
    SEARCH BAR
*******************
*/

.search-bar {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50px;
}

.form-group label {
    margin: 0 5px;
    width: 50px;
}

.form-group label img {
    display: block;
    max-width: 100%;
}

.form-group input {
    flex: 1 1 0;
    padding: 0 10px;
    border: 1px solid #e2396a;
    outline: 1px solid #db1d46;
}

.form-group .location {
    position: absolute;
    top: 50%;
    right: 110px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    height: auto;
    padding: 19px 0;
    font-size: 12px;
}

.form-group .location i {
    font-size: 16px;
    color: #db1d46;
}

.form-group .location div {
    margin-right: 3px;
}

.form-group .search-btn {
    width: 100px;
    background: #e2396a;
    color: #e6e7e8;
    border: 1px solid #e6e7e8;
    outline: 1px solid #db1d46;
}